* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
}

.img {
  background: url("./img/image-login.png");
  background-size: cover;
  height: 100vh;
}

.layer {
  background-color: rgba(1, 24, 236, 0.267);
  background-size: 100% 100%;
  height: 100vh;
}

h2 {
  font-family: Helvetica;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .img {
    display: none;
  }

  .form {
    background: url("./img/image-login.png");
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
  }
}
